.gradle
.idea
.kotlin
build
.DS_Store

# Batocera packaging output
build/batocera/
build/docker/
native/raylib/raylib-6.0_linux_arm64/lib
native/linuxArm64/lib-backuo
native/include

# Native per-platform libraries
native/linuxArm64
native/linuxX64
native/mingwX64
!/scripts/build/
